{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "requireConfigFile": false,
  /* "requireConfigFile": false, */
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "localStorage": true,
    "ga": true,
    "fetch": true,
    "window": true,
    "document": true,
    "Raven": true,
    "ENV": true
  },
  "rules": {
    "prettier/prettier": "off",
    /*  "prettier/prettier": ["error", { "trailingComma": "es5" }], */
    "no-console": 0,
    "react/sort-comp": [
      1,
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ]
  }
}
